* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #000000
}

.container {
    max-width: 1000px;
    margin: auto;
}

header {
    background-color: #ff8a00;
    text-align: center;
    color: white;
    padding: 10px;
}
.title {
    font-size: 26px;
}

section {
    padding: 20px;
    background-image: url(./../img/people.jpg);
    background-size: cover;
    overflow: hidden;
}

.formContainer {
    max-width: 260px;
    background-color: #ffffffbb;
    padding: 20px;
    float: right;
}

.mb {
    margin-bottom: 15px;
}

h2 {
    font-size: 16px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: none;
}

input[type="submit"] {
    color: #ffffff;
    background-color: #ff8a00;
    font-weight: bold;
}

input[type="submit"]:hover {
    cursor: pointer;
    background-color: #e77b00;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    background-image: url(./../img/arrow.jpg);
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
}

footer {
    background-color: #202121;
    padding: 40px;
    text-align: center;
}

.picture {
    width: 160px;
}

.description {
    color: #ffffff;
    display: inline-block;
    text-align: left;
    max-width: 40%;
    margin-left: 40px;
}

.description p, .description h3 {
    margin-bottom: 20px;
}

.description h3 {
    font-size: 24px;
}

@media screen and (max-width: 550px) {
    .formContainer {
        max-width: 100%;
    }

    .picture {
        margin-bottom: 15px;
    }

    .description {
        display: inline;
        margin-left: 0;
    }
}